In [0]:
import sqlite3 # Once imported in a single notebook, it is available to us throughout the rest of the notebook. 
# connect to database, if not there, create it.
connectionToDatabase = sqlite3.connect('Restaurant') 
cursor = connectionToDatabase.cursor()

In [0]:
cursor.execute('''drop table IF EXISTS Customer''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''create table Customer (customerId int PRIMARY KEY, First_Name string, last_name string, phone_number int, credit_card_no int, address string)''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''drop table IF EXISTS Delivery''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''create table Delivery (bill_no int PRIMARY KEY, delivery_Charge int, updated_total_charge int)''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''drop table IF EXISTS Orders''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''create table Orders (order_id int PRIMARY KEY, food_no int, drink_no int,total_calories int, price int, discount code string)''')
connectionToDatabase.commit()

there has to be a way that we can make it so we can have the drink and food primary keys transfer so we dont have to put it int more than once

In [0]:
cursor.execute('''drop table IF EXISTS Transactions''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''create table Transactions (bill_no int PRIMARY KEY,customer_id int, total_cost int, tip_percentage real, tip_ammount real, payment_type string, discount_code string, order_id int)''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''drop table IF EXISTS Drinks''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''create table Drinks (drink_no int PRIMARY KEY, drink_title string, drink_type string, brand_name string, calories int, cost real)''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''drop table IF EXISTS Food''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''create table Food (dish_no int PRIMARY KEY, meal_title string, main_ingrediant,calories int,cost real)''')
connectionToDatabase.commit()

Populating customer:

In [0]:
cursor.execute('''insert into customer values ('01', 'Ryan','Costello','2134864992','1234123412341234', '123 streat st');''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''insert into customer values ('02','Garrett','Pumilia','6105476129','1234567891234567','143 easy st');''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''insert into customer values ('03','John','Doe','8146327834','8362947306238074','700 Broadstreet');''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''insert into customer values('04','Peter','Williams','2157349873','0337429870124756','717 Daniel Drive');''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''insert into customer values('05','Michael','Smith','8740037465','9248572008224637','999 College Avenue');''')
connectionToDatabase.commit()

Customer table:

In [19]:
cursor.execute('''select * from customer''')
for row in cursor.fetchall():
  print(row)

(1, 'Ryan', 'Costello', 2134864992, 1234123412341234, '123 streat st')
(2, 'Garrett', 'Pumilia', 6105476129, 1234567891234567, '143 easy st')
(3, 'John', 'Doe', 8146327834, 8362947306238074, '700 Broadstreet')
(4, 'Peter', 'Williams', 2157349873, 337429870124756, '717 Daniel Drive')
(5, 'Michael', 'Smith', 8740037465, 9248572008224637, '999 College Avenue')

Populating Delivery:

In [0]:
cursor.execute('''insert into Delivery values('0','4.00','24.50');''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''insert into Delivery values('9','4.00','9.37');''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''insert into Delivery values('10','4.00','46.78');''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''insert into Delivery values('34','4.00','31.99');''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''insert into Delivery values('40','4.00','17.50');''')
connectionToDatabase.commit()

Delivery Table:

In [25]:
cursor.execute('''select * from Delivery''')
for i in cursor.fetchall():
  print(i)

(0, 4, 24.5)
(9, 4, 9.37)
(10, 4, 46.78)
(34, 4, 31.99)
(40, 4, 17.5)

Populating Drinks:

In [0]:
cursor.execute('''insert into Drinks values('01','Water','Bottle','Deer Park','0','2.00');''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''insert into Drinks values('02','Coke','Fountain','Cocacola','150','2.39');''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''insert into Drinks values('03','Orange Sada','Fountain','Fanta','160','2.39');''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''insert into Drinks values('04','Sprite','Fountain','Cocacola','192','2.39');''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''insert into Drinks values('05','Root Beer','Foutain','Cocacola','152','2.39');''')
connectionToDatabase.commit()

Populating Food Table

In [0]:
cursor.execute('''insert into Food values('01','Chicken Marsala','Poultry','750','15.99');''')
connectionToDatabase.commit()
cursor.execute('''insert into Food values('02','New York Strip','Meat','850','19.99');''')
connectionToDatabase.commit()
cursor.execute('''insert into Food values('03','Veggie Burger','Vegetarian','500','7.99');''')
connectionToDatabase.commit()
cursor.execute('''insert into Food values('04','Coconut Tilapia','Fish','750','18.99');''')
connectionToDatabase.commit()
cursor.execute('''insert into Food values('05','Pasta Marinara','Pasta','675','9.99');''')
connectionToDatabase.commit()

Populating Orders Table

In [0]:
#(order_id int PRIMARY KEY, food_no int, drink_no int,total_calories int, price int, discount code string)
cursor.execute('''insert into Orders values('01','01','01','750','17.99','CHICKEN');''')
connectionToDatabase.commit()
cursor.execute('''insert into Orders values('02','02','02','1000','22.38','STEAK');''')
connectionToDatabase.commit()
cursor.execute('''insert into Orders values('03','03','03','660','10.38','VEGGIE');''')
connectionToDatabase.commit()
cursor.execute('''insert into Orders values('04','04','04','942','21.38','FISH');''')
connectionToDatabase.commit()
cursor.execute('''insert into Orders values('05','05','05','827','12.38','PASTA');''')
connectionToDatabase.commit()

Drinks Table:

In [33]:
cursor.execute('''select * from Drinks''')
for row in cursor.fetchall():
  print(row)

(1, 'Water', 'Bottle', 'Deer Park', 0, 2.0)
(2, 'Coke', 'Fountain', 'Cocacola', 150, 2.39)
(3, 'Orange Sada', 'Fountain', 'Fanta', 160, 2.39)
(4, 'Sprite', 'Fountain', 'Cocacola', 192, 2.39)
(5, 'Root Beer', 'Foutain', 'Cocacola', 152, 2.39)

Populating transactions

In [0]:
cursor.execute('''insert into Transactions values('01' ,'01' , '15' , '0.15' , '2.25' , 'credit card','null','1');''')
connectionToDatabase.commit()
cursor.execute('''insert into Transactions values('02','02','10','0.15','1.15','credit card','null','2');''')
connectionToDatabase.commit()
cursor.execute('''insert into Transactions values('03','03','25','0.10','2.5','debit card','15% off','3');''')
connectionToDatabase.commit()
cursor.execute('''insert into Transactions values('04','04','50','0.20','10','gift card','free small fries','4');''')
connectionToDatabase.commit()
cursor.execute('''insert into Transactions values('05','05','100','0.08','8','credit card','null','5');''')
connectionToDatabase.commit()

In [35]:
cursor.execute('''select * from Transactions''')
for row in cursor.fetchall():
  print(row)

(1, 1, 15, 0.15, 2.25, 'credit card', 'null', 1)
(2, 2, 10, 0.15, 1.15, 'credit card', 'null', 2)
(3, 3, 25, 0.1, 2.5, 'debit card', '15% off', 3)
(4, 4, 50, 0.2, 10.0, 'gift card', 'free small fries', 4)
(5, 5, 100, 0.08, 8.0, 'credit card', 'null', 5)

![our updated chart](https://raw.githubusercontent.com/Rcostello1012/Ist210-project-4/master/Group%20assignment%204%20chart.png)

 3 questions

Question 1

What was the average cost of a meal from the transactions table

Code

the code

cursor.execute(''' Select Avg(total_cost)  from Transactions''')
for row in cursor.fetchall():
  print (row)

In [36]:
cursor.execute(''' Select Avg(total_cost)  from Transactions''')
for row in cursor.fetchall():
  print (row)

(40.0,)

Question 2

What distinct kinds of food does our restaunt have

The code

cursor.execute(''' Select  distinct meal_title  from Food''')
for row in cursor.fetchall():
  print (row)

In [37]:
cursor.execute(''' Select  distinct meal_title  from Food''')
for row in cursor.fetchall():
  print (row)

('Chicken Marsala',)
('New York Strip',)
('Veggie Burger',)
('Coconut Tilapia',)
('Pasta Marinara',)

Question 3

What are all of our customers addresses?

The code

cursor.execute(''' Select  First_Name, last_name, address  from Customer''')
for row in cursor.fetchall():
  print (row)

In [38]:
cursor.execute(''' Select  First_Name, last_name, address  from Customer''')
for row in cursor.fetchall():
  print (row)

('Ryan', 'Costello', '123 streat st')
('Garrett', 'Pumilia', '143 easy st')
('John', 'Doe', '700 Broadstreet')
('Peter', 'Williams', '717 Daniel Drive')
('Michael', 'Smith', '999 College Avenue')

The Explanations

For the first question "what was the average cost of a meal from transactions" is important to know so that you can guestimate how much revenue a certain day made if you only know how many people came in and not what they ordered. I was expecting it to be around 40 dollars because when i was putting in the data there was some outliers that were wholesale orders/catering orders which brought up the average substancially. The second question "what distinct kinds of food does our restaunt have" is important for if we are going to explain our restaurant to another company, perhaps a buyer. With this data you can better sell your restaurant and tell whoever is asking what it is your restaurant sells. For the final question "what is the customers address" can be used to map where all of your customers are coming from to know where you are successfull, what areas you do not need to do much advertising in, and where the demand for your product is.